<launch>
    <node name="imageproc_node" pkg="imageproc_node" type="node.py" output="screen">
        <rosparam param="device">/dev/ttySAC1</rosparam>
    </node>
    <node name="$(anon dynparam)" pkg="dynamic_reconfigure" type="dynparam" args="set_from_parameters imageproc_node">
        <param name="left_gain" type="double" value="-1.0" />
        <param name="right_gain" type="double" value="-1.0" />
        <param name="linear_gain" type="double" value="1200.0" />
        <param name="angular_gain" type="double" value="1200.0" />
        <param name="min_throttle" type="double" value="-2400.0" />
        <param name="max_throttle" type="double" value="2400.0" />
    </node>
</launch>

